<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>janken top</title>
</head>
<body>
    <div>
        <h1><a href="/">ジャンケンの結果(降順)</a></h1>
    </div>

    {% for user in users %}
    <div>
        <h2>{{user.user_name}}　さんの結果</h2>
        <p>created: {{ user.create_date }}</p>
        <p>win_count: {{ user.win_count }}</p>
    </div>
    {% endfor %}
</body>
</html>